.App {
  text-align: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Rectangle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
}

.Post {
  height: auto;
  width: 400px;
  background-color: aliceblue;
  background: #A1FFCE;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 30px 40px;
  border-radius: 1em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.logo {
  height: 35px;
  width: 35px;
  background: rgba(255, 255, 255, 1);
}

.logo:hover {
  border: 2px solid rgba(0, 0, 0, 0.4);
}

.btn:focus{
  box-shadow: none !important;
}

.Post:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#tweet-quote {
  padding-left: 5px;
}